/* the landing styles */
.welcomeContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    background: #000000;
    align-items: center;

}
.welcomeText{
    color:white;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    flex: 1;
    max-height: 30vh;
}
.pickNameBtn{
    font-family: 'Press Start 2P', cursive;
    flex: 1
    
}
.reactScene{
    position: absolute;
    top: 0px; left: 0px;
    z-index: 1
}
.nameInput{
    background: transparent;
    border: none;
    color:white;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    outline:none;
}
.nameForm{
    border: none;
    border-bottom: 5px solid white;
    padding: 10px;
    text-align: center;
}

/* the lobby styles  */
.lobbyContainer{
    display:flex;
    background: black;
    height: 100vh;
    width: 100vw;
}
.waitingPlayers{
    flex:1;
    color:white;
    padding: 3%;
    font-family: 'Press Start 2P', cursive;
}

.waitingServers{
    flex: 1;
    color:white;
    padding: 3%;
    font-family: 'Press Start 2P', cursive;
}
.serverButton{
    font-family: 'Press Start 2P', cursive;

}
.lobbyText{
    color:white;
}

/* The create server styles */
.creatServerContainer{
    background: black; 
    height: 100vh; 
    width: 100vw; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.createServerHeader{
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color:white;
    flex: 2;
    max-height: 30vh;
    padding-top: 15%;
}
.createServerForm{
    color:white;
    font-family: 'Press Start 2P', cursive;
    flex: 1;
    padding: 3%;
}
.createServerForm ul input{
    font-family: 'Press Start 2P', cursive;

}
.createServerForm button{
    font-family: 'Press Start 2P', cursive;
    color: green;
}
.createServerForm select{
    font-family: 'Press Start 2P', cursive;
    color: green;
}
/* waitingroom styles */
.waitingRoomContainer{
    background: black; 
    height: 100vh; 
    width: 100vw; 
    display: flex;
    flex-direction: column;
    padding: 3%;
}
.waitingRoomTextinstructions{
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 10px;
}
.waitingRoomText{
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 2%;
}
.waitingRoomTextBanner{
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 2%;
    font-size: 15px;
}
.waitingRoombtn{
    font-family: 'Press Start 2P', cursive;
    color: green;
    width: 30vw;
    
}
.waitingRoomText ul {
    font-family: 'Press Start 2P', cursive;
    color: white;
}

/* styles for the maze */
.mazeInformationContainer{
    display: flex;
    background: black; 
    height: 10vh; 
    width: 100vw; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
.mazeInformationText{
    font-family: 'Press Start 2P', cursive;
    color: white;
}