/* the landing styles */

.welcomeContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    position: absolute;
    left: 30vw;
}
.welcomeText{
    color:purple;
    font-size: 30px;
    font-family: 'Gamja Flower', cursive;
}
.reactScene{
    position: absolute;
    top: 0px; left: 0px;
    z-index: 1
}
.nameInput{
    background: transparent;
    border: none;
    color:purple;
    font-size: 30px;
    font-family: 'Gamja Flower', cursive;
    outline:none;
}
.nameForm{
    border: none;
    border-bottom: 5px solid red;
    padding: 10px;
    text-align: center;
}
/* the lobby styles  */
.lobbyContainer{
    display:flex;
}
.waitingPlayers{
    flex:1
}

.waitingServers{
    flex: 1
}